# Python dependencies required for development
tensorflow
tf-models-official
tensorflow-object-detection-api
matplotlib
wrapt
typing_extensions
opt_einsum
gast
astunparse
termcolor
flatbuffers
python-pillow
easyocr
numpy
psutil
pyyaml
requests
setuptools
